// global.scss
$primary-color: rgb(97, 165, 97);

@import "node_modules/spectre.css/src/spectre";

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0px;
}
// theme.scss
$main-color: rgba(69, 28, 134, 0.767);
$site-width: 1200px;

h1 {
  color: $primary-color-dark;
}

.navbar {
  background-color: $light-color;
  color: #e85600;
}
