// global.scss
$primary-color:  rgb(93, 114, 58);
$site-width: 1200px;
@import "node_modules/spectre.css/src/spectre";


* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0px;
}

h1 {
  color: $primary-color-dark;
}

.navbar {
  background-color: $light-color;
  color: hsl(22, 85%, 35%);
}

.about {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
}
